{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="title-list">
{% for page in pages %}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
  </li>
{% endfor %}
</ul>

{% if paginator %}
<div class="accent-data">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}"><</a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
<!-- Utterances comments widget -->
<section id="comments" style="margin-top:2em;">
  <script src="https://utteranc.es/client.js"
          repo="JGITSol/jgitsol.github.io"
          issue-term="pathname"
          label="💬 comment"
          theme="preferred-color-scheme"
          crossorigin="anonymous"
          async>
  </script>
</section>

{% endblock content %}