<meta charset="UTF-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible"/>
<meta content="text/html; charset=UTF-8" http-equiv="content-type"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="robots" content="index, follow">
{% set current_lang = config.default_language %}
{% if page %}
  {% set current_lang = page.lang %}
{% elif section %}
  {% set current_lang = section.lang %}
{% endif %}
{% if config.extra.header_nav %}
  <nav id="nav-bar">
    {% for nav_item in config.extra.header_nav %}
      <a href="{{ nav_item.url }}" class="{% if nav_item.url == current_url %}active{% endif %}">
        {% set language_key = 'name_' ~ current_lang %}
        {{ nav_item[language_key] }}
      </a>
    {% endfor %}
    <div>
      <input type="checkbox" id="theme-toggle" style="display: none;">
      <label for="theme-toggle" id="theme-toggle-label"><svg id="theme-icon" class="icons"><use href="{{ get_url(path='/icons.svg#lightMode', trailing_slash=false) | safe }}"></use></svg></label>
      <audio id="theme-sound">
        <source src="{{ get_url(path='click.ogg', trailing_slash=false) | safe }}" type="audio/ogg">
      </audio>
    </div>
  </nav>
{% endif %}

{% if page.title %}
{% set title = page.title %}
{% elif section.title %}
{% set title = section.title %}
{% elif config.title %}
{% set title = config.title %}
{% endif %}
{% if page.extra.author %}
{% set author = page.extra.author %}
{% elif section.extra.author %}
{% set author = section.extra.author %}
{% elif config.extra.author %}
{% set author = config.extra.author %}
{% endif %}
{% if page.description %}
{% set description = page.description | truncate(length=150) %}
{% elif section.description %}
{% set description = section.description | truncate(length=150) %}
{% elif config.description %}
{% set description = config.description | truncate(length=150) %}
{% endif %}
{% if page.extra.image %}
{% set image = get_url(path=page.extra.image, trailing_slash=false) %}
{% elif section.extra.image %}
{% set image = get_url(path=section.extra.image, trailing_slash=false) %}
{% elif config.extra.favicon %}
{% set image = get_url(path=config.extra.favicon, trailing_slash=false) %}
{% endif %}
{% if page.permalink %}
{% set url = page.permalink %}
{% elif section.permalink %}
{% set url = section.permalink %}
{% elif config.base_url %}
{% set url = config.base_url %}
{% endif %}
{% if title %}
<title>{{ title }}</title>
{% endif %}
{% block metatags %}
{% if title %}
<meta name="title" content="{{ title }}">
{% endif %}
{% if author %}
<meta name="author" content="{{ author }}">
{% endif %}
{% if description %}
<meta name="description" content="{{ description }}">
{% endif %}
<meta property="og:type" content="website">
<meta property="og:url" content="{{ url | safe }}">
{% if title %}
<meta property="og:site_name" content="{{ config.title }}">
{% endif %}
{% if title %}
<meta property="og:title" content="{{ title }}">
{% endif %}
{% if description %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if image %}
<meta property="og:image" content="{{ image }}">
{% endif %}
{% set twitter_card = config.extra.twitter_card | default(value=true) %}
{% if twitter_card != false %}
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ url | safe }}">
{% if title %}
<meta property="twitter:title" content="{{ title }}">
{% endif %}
{% if description %}
<meta property="twitter:description" content="{{ description }}">
{% endif %}
{% if image %}
<meta property="twitter:image" content="{{ image }}">
{% endif %}
{% endif %}
<link rel="canonical" href="{{ url | safe }}">
{% if image %}
<link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}">
{% endif %}
{% endblock metatags %}
{% if config.generate_feed %}
{% block feed %}
<link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml", trailing_slash=false) }}"> 
{% endblock feed %}
{% endif %}
{% block css %}
<link rel="stylesheet" type="text/css" href="https://speyll.github.io/suCSS/reset-min.css"/>
<link rel="stylesheet" type="text/css" href="https://speyll.github.io/suCSS/suCSS-min.css"/>
<link rel="stylesheet" type="text/css" href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}"/>
{% endblock css %}
<script src="{{ get_url(path='js/script.js', trailing_slash=false) | safe }}" defer></script>


<svg display="none">
	<symbol id="arrow">
		<polyline points="7 10,12 15,17 10" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
	</symbol>
</svg>
<h1>My Work Experience Timeline</h1>
<div id="timeline" class="timeline">
	<div class="btn-group">
		<button class="btn" type="button" data-action="expand">Expand All</button>
		<button class="btn" type="button" data-action="collapse">Collapse All</button>
	</div>
	<!-- Freelancer Programmer -->
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item1" aria-labelledby="item1-name" aria-expanded="false" aria-controls="item1-ctrld" aria-haspopup="true" data-item="1">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item1-name" class="timeline__meta">
				<time class="timeline__date" datetime="2022-11">November 2022 - Present</time><br>
				<strong class="timeline__title">Freelancer Programmer at JGIT Solutions</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item1-ctrld" role="region" aria-labelledby="item1" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Project management, creating custom software for PC using Python with a dedicated user interface (web or local), creating websites, online stores, and payment gateways.</p>
			</div>
		</div>
	</div>
	<!-- Thermographic Measurements Engineer -->
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item2" aria-labelledby="item2-name" aria-expanded="false" aria-controls="item2-ctrld" aria-haspopup="true" data-item="2">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item2-name" class="timeline__meta">
				<time class="timeline__date" datetime="2022-04">April 2022 - July 2022</time><br>
				<strong class="timeline__title">Thermographic Measurements Engineer at SEAM Group Polska</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item2-ctrld" role="region" aria-labelledby="item2" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Performed thermographic measurements of electrical equipment in different industrial plants across Europe.</p>
			</div>
		</div>
	</div>
	<!-- Field Service Engineer -->
	<div class="timeline__item">
		<div class="timeline__item-header">
			<button class="timeline__arrow" type="button" id="item3" aria-labelledby="item3-name" aria-expanded="false" aria-controls="item3-ctrld" aria-haspopup="true" data-item="3">
				<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
					<use href="#arrow" />
				</svg>
			</button>
			<span class="timeline__dot"></span>
			<span id="item3-name" class="timeline__meta">
				<time class="timeline__date" datetime="2020-04">April 2020 - April 2022</time><br>
				<strong class="timeline__title">Field Service Engineer at Medikol Systems</strong>
			</span>
		</div>
		<div class="timeline__item-body" id="item3-ctrld" role="region" aria-labelledby="item3" aria-hidden="true">
			<div class="timeline__item-body-content">
				<p class="timeline__item-p">Installation, maintenance, diagnostics and repairs of various X-ray medical equipment, performing jobs on a tight schedule, contacting clients and writing technical reports on a daily basis.</p>
			</div>
		</div>
	</div>
	<!-- Installation Engineer -->
<div class="timeline__item">
	<div class="timeline__item-header">
		<button class="timeline__arrow" type="button" id="item4" aria-labelledby="item4-name" aria-expanded="false" aria-controls="item4-ctrld" aria-haspopup="true" data-item="4">
			<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
				<use href="#arrow" />
			</svg>
		</button>
		<span class="timeline__dot"></span>
		<span id="item4-name" class="timeline__meta">
			<time class="timeline__date" datetime="2019-11">November 2019 - April 2020</time><br>
			<strong class="timeline__title">Installation Engineer at Abplanalp</strong>
		</span>
	</div>
	<div class="timeline__item-body" id="item4-ctrld" role="region" aria-labelledby="item4" aria-hidden="true">
		<div class="timeline__item-body-content">
			<p class="timeline__item-p">Installation, maintenance, diagnostics and repairs of CNC machines made by HAAS, conducting training of client's staff on basic operation and maintenance of HAAS products, updating software and providing technical support.</p>
		</div>
	</div>
</div>
<!-- Maintenance Engineer -->
<div class="timeline__item">
	<div class="timeline__item-header">
		<button class="timeline__arrow" type="button" id="item5" aria-labelledby="item5-name" aria-expanded="false" aria-controls="item5-ctrld" aria-haspopup="true" data-item="5">
			<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
				<use href="#arrow" />
			</svg>
		</button>
		<span class="timeline__dot"></span>
		<span id="item5-name" class="timeline__meta">
			<time class="timeline__date" datetime="2018-08">August 2018 - August 2019</time><br>
			<strong class="timeline__title">Maintenance Engineer at Keylite RW Poland</strong>
		</span>
	</div>
	<div class="timeline__item-body" id="item5-ctrld" role="region" aria-labelledby="item5" aria-hidden="true">
		<div class="timeline__item-body-content">
			<p class="timeline__item-p">Resolving complex production line issues, writing projects of possible future upgrades to improve machine park, scheduling maintenance, supporting mechanics in regards to control engineering faults, training staff on maintenance issues of production process.</p>
		</div>
	</div>
</div>
<!-- Assistant Surveyor -->
<div class="timeline__item">
	<div class="timeline__item-header">
		<button class="timeline__arrow" type="button" id="item6" aria-labelledby="item6-name" aria-expanded="false" aria-controls="item6-ctrld" aria-haspopup="true" data-item="6">
			<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
				<use href="#arrow" />
			</svg>
		</button>
		<span class="timeline__dot"></span>
		<span id="item6-name" class="timeline__meta">
			<time class="timeline__date" datetime="2017-08">August 2017 - April 2018</time><br>
			<strong class="timeline__title">Assistant Surveyor at FACE Consultants Ltd</strong>
		</span>
	</div>
	<div class="timeline__item-body" id="item6-ctrld" role="region" aria-labelledby="item6" aria-hidden="true">
		<div class="timeline__item-body-content">
			<p class="timeline__item-p">Performing various test in industrial complexes on concrete floor for compliance with british and international standards, calibration of custom made measuring devices, writing technical documentation on done tasks.</p>
		</div>
	</div>
</div>
<!--Installation Technician -->
<div class="timeline__item">
	<div class="timeline__item-header">
		<button class="timeline__arrow" type="button" id="item7" aria-labelledby="item7-name" aria-expanded="false" aria-controls="item7-ctrld" aria-haspopup="true" data-item="7">
			<svg class="timeline__arrow-icon" viewBox="0 0 24 24" width="24px" height="24px">
				<use href="#arrow" />
			</svg>
		</button>
		<span class="timeline__dot"></span>
		<span id="item7-name" class="timeline__meta">
			<time class="timeline__date" datetime="2017-08">September 2016 - April 2017</time><br>
			<strong class="timeline__title">Installation Technician at ATLIFT Adam Trypuć/ZEMD Jerzy Trypuć, Białystok</strong>
		</span>
	</div>
	<div class="timeline__item-body" id="item7-ctrld" role="region" aria-labelledby="item6" aria-hidden="true">
		<div class="timeline__item-body-content">
			<p class="timeline__item-p">Instalation and disassembly of lifting devices, schematics based fault diagnostics and repair. Conducting safety
                tests and maintenance in two man teams. Job based in Białystok, Poland. </p>
		</div>
	</div>
</div>
<hr>
<div id="footer-container">
  {% if config.extra.footer_content_license %}
    <div>Except where otherwise noted, content on this site is licensed under a 
    {% if config.extra.footer_content_license_link %}
    <a target="_blank" rel="noopener noreferrer" href="{{config.extra.footer_content_license_link}}">{{config.extra.footer_content_license}}</a>
    {% else %}
    {{config.extra.footer_content_license}}
    {% endif %}
    license.</div>
  {% endif %}
  <div>
    <p>Theme and color theme licensed under <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Licence_MIT">MIT</a>.<br>
      Built with <a target="_blank" rel="noopener noreferrer" href="https://www.getzola.org">Zola</a> using <a target="_blank" rel="noopener noreferrer" href="https://github.com/Speyll/anemone">anemone</a> theme, <a target="_blank" rel="noopener noreferrer" href="https://speyll.github.io/suCSS/">suCSS</a> framework &amp; <a target="_blank" rel="noopener noreferrer" href="https://github.com/Speyll/veqev">veqev</a>.<br>
    </p>

  </div>
  {% if config.generate_feed %}
  <div>
    <a class="no-style" target="_blank" rel="noopener noreferrer" href="{{ get_url(path="atom.xml", trailing_slash=false) }}" title="Subscribe via RSS for updates."><svg class="icons"><use href="{{ get_url(path='icons.svg#rss', trailing_slash=false) | safe }}"></use></svg></a>
  </div>
  {% endif %}
</div>